Host curator-flow-* ecs1 ecs2 ecs3 gpu1 gpu2 gpu3 gpu4
    User root
    Port 22
    BatchMode yes
    ConnectTimeout 8
    ServerAliveInterval 30
    ServerAliveCountMax 3
    StrictHostKeyChecking accept-new

Host curator-flow-ecs1 ecs1
    HostName 8.145.50.233

Host curator-flow-ecs2 ecs2
    HostName 8.130.134.116

Host curator-flow-ecs3 ecs3
    HostName 8.130.191.173

Host curator-flow-gpu1 gpu1
    HostName 192.168.0.211
    ProxyJump ecs1
    UserKnownHostsFile deploy/known_hosts

Host curator-flow-gpu2 gpu2
    HostName 192.168.0.212
    ProxyJump ecs1
    UserKnownHostsFile deploy/known_hosts

Host curator-flow-gpu3 gpu3
    HostName 192.168.0.213
    ProxyJump ecs1
    UserKnownHostsFile deploy/known_hosts

Host curator-flow-gpu4 gpu4
    HostName 192.168.0.214
    ProxyJump ecs1
    UserKnownHostsFile deploy/known_hosts
